<ng-container *transloco="let t">
  <biit-datatable #service_roles
                  [columns]="columns"
                  [data]="serviceRoles"
                  [pageSize]="pageSize"
                  [pageSizeList]="pageSizes"
                  [loading]="loading"
                  selectable>
    <button biit-icon icon="plus"
            [title]="t('t.add')"
            (click)="onAdd()"
    ></button>
    <button biit-icon icon="minus"
            [title]="t('t.delete')"
            (click)="onDelete(service_roles.selectedRows, false)"
            [disabled]="!service_roles.selectedRows.length"
    ></button>
  </biit-datatable>

  <biit-popup *ngIf="role != null" [title]="t('t.create_role')">
    <div>
      <biit-input-text [placeholder]="t('t.name')" [(ngModel)]="role"></biit-input-text>
      <div class="flex-grow horizontal buttons-row">
        <button biit-button secondary (click)="role = undefined">{{t('t.cancel')}}</button>
        <button biit-button primary (click)="onSave()">{{t('t.save')}}</button>
      </div>
    </div>
  </biit-popup>

  <biit-popup *ngIf="confirm === 'DELETE'"
              dark-bg no-header
  >
    <div class="vertical">
      <div>{{t('t.confirm_delete')}}</div>
      <div class="flex-grow horizontal buttons-row">
        <button biit-button secondary (click)="confirm = null">{{t('t.cancel')}}</button>
        <button biit-button primary (click)="onDelete(selectedToDelete, true)">{{t('t.delete')}}</button>
      </div>
    </div>

  </biit-popup>
</ng-container>
