<biit-popup
            [title]="user.id ? transloco.translate('form.editUser') : transloco.translate('form.newUser')"
            (onClosed)="onClosed.emit()"
            closable sixty-view
>
  <div class="form">
    <biit-tab-group class="user-tabs">
      <biit-tab name="{{'form.account' | transloco}}"
                [error]="!!(errors | mapGet: [FormValidationFields.USERNAME_MANDATORY,
                                              FormValidationFields.USERNAME_EXISTS,
                                              FormValidationFields.EMAIL_MANDATORY,
                                              FormValidationFields.EMAIL_INVALID,
                                              FormValidationFields.NAME_MANDATORY,
                                              FormValidationFields.LASTNAME_MANDATORY,
                                              FormValidationFields.PASSWORD_MANDATORY,
                                              FormValidationFields.PASSWORD_MISMATCH])"
      >
        <div class="tab-row">
          <biit-input-text
            placeholder="{{'username' | transloco}}"
            [(ngModel)]="user.username"
            [disabled]="!!user.id"
            [required] = "true"
            error="{{errors | mapGet: [FormValidationFields.USERNAME_MANDATORY, FormValidationFields.USERNAME_EXISTS]}}"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="transloco.translate('form.email')"
            [(ngModel)]="user.email"
            [type]="Type.EMAIL"
            [disabled]="user.id"
            [required]="true"
            error="{{errors | mapGet: [FormValidationFields.EMAIL_MANDATORY, FormValidationFields.EMAIL_INVALID]}}"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            placeholder="{{'name' | transloco}}"
            [(ngModel)]="user.name"
            [required] = "true"
            error="{{errors | mapGet: FormValidationFields.NAME_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            placeholder="{{'lastname' | transloco}}"
            [(ngModel)]="user.lastname"
            [required] = "true"
            error="{{errors | mapGet: FormValidationFields.LASTNAME_MANDATORY}}"
          ></biit-input-text>
        </div>
        <div class="tab-row" *ngIf="!user.id">
          <biit-input-text
            placeholder="{{'password' | transloco}}"
            [type]="Type.PASSWORD"
            [(ngModel)]="user.password"
            [required]="true"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            placeholder="{{'repeatPassword' | transloco}}"
            [type]="Type.PASSWORD"
            [(ngModel)]="pwdVerification"
            [required]="true"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MISMATCH}}"
          ></biit-input-text>
        </div>
        <div class="tab-row-single" *ngIf="!user.id">
          <button biit-button secondary style="display: block" (click)="generatePassword()">
            {{'form.generate' | transloco}}
          </button>
        </div>
      </biit-tab>
      <biit-tab name="{{'form.personalData' | transloco}}"
                [error]="!!(errors | mapGet: [FormValidationFields.PHONE_INVALID])?.length"
      >
        <div>
          <biit-textarea
            [(ngModel)]="user.address"
            placeholder="{{'form.address' | transloco}}"
            style="display: block"
          ></biit-textarea>
        </div>
        <div class="tab-row">
          <biit-input-text
            [placeholder]="transloco.translate('form.city')"
            [(ngModel)]="user.city"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="transloco.translate('form.postalCode')"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            [placeholder]="transloco.translate('form.country')"
            [(ngModel)]="user.country"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="transloco.translate('form.phone')"
            [(ngModel)]="user.phone"
            error="{{errors | mapGet: [FormValidationFields.PHONE_INVALID]}}"
          ></biit-input-text>
        </div>
      </biit-tab>
      <biit-tab name="{{'password' | transloco}}" *ngIf="user.id"
                [error]="!!(errors | mapGet: [FormValidationFields.PASSWORD_MANDATORY,
                                              FormValidationFields.PASSWORD_MISMATCH])?.length"
      >
        <div class="tab-row-single" *ngIf="!(this.loggedUser | hasRole: AppRole.USERMANAGERSYSTEM_ADMIN)">
          <biit-input-text
            placeholder="{{'form.currentPassword' | transloco}}"
            [type]="Type.PASSWORD"
            [(ngModel)]="oldPassword"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            placeholder="{{'newPassword' | transloco}}"
            [type]="Type.PASSWORD"
            [(ngModel)]="user.password"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            placeholder="{{'repeatPassword' | transloco}}"
            [type]="Type.PASSWORD"
            [(ngModel)]="pwdVerification"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MISMATCH}}"
          ></biit-input-text>
        </div>
        <div class="tab-row-single">
          <button biit-button secondary style="display: block" (click)="generatePassword()">
            {{'form.generate' | transloco}}
          </button>
        </div>
      </biit-tab>
    </biit-tab-group>
    <div class="form-bottom">
      <button biit-button primary style="display: block" (click)="onSave()">
        {{'save' | transloco}}
      </button>
    </div>
  </div>
</biit-popup>
