<biit-popup id="user-popup"
            [title]="user.id ? t('t.editUser') : t('t.newUser')"
            (onClosed)="onClosed.emit()"
            closable sixty-view
            *transloco="let t"
>
  <div class="form">
    <biit-tab-group class="user-tabs">
      <biit-tab [name]="t('t.account')"
                [error]="!!(errors | mapGet: [FormValidationFields.USERNAME_MANDATORY,
                                              FormValidationFields.USERNAME_INVALID,
                                              FormValidationFields.USERNAME_EXISTS,
                                              FormValidationFields.EMAIL_MANDATORY,
                                              FormValidationFields.EMAIL_INVALID,
                                              FormValidationFields.NAME_MANDATORY,
                                              FormValidationFields.LASTNAME_MANDATORY,
                                              FormValidationFields.PASSWORD_MANDATORY,
                                              FormValidationFields.PASSWORD_MISMATCH])"
      >
        <div class="tab-row">
          <biit-input-text
            [placeholder]="t('t.username')"
            [(ngModel)]="user.username"
            [disabled]="!!user.id"
            [required] = "false"
            (focusout)="user.username = user.username.trim()"
            error="{{errors | mapGet: [FormValidationFields.USERNAME_MANDATORY, FormValidationFields.USERNAME_INVALID, FormValidationFields.USERNAME_EXISTS]}}"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="t('t.email')"
            [(ngModel)]="user.email"
            [type]="Type.EMAIL"
            [required]="true"
            (focusout)="user.email = user.email.trim()"
            error="{{errors | mapGet: [FormValidationFields.EMAIL_MANDATORY, FormValidationFields.EMAIL_INVALID]}}"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            [placeholder]="t('t.name')"
            [(ngModel)]="user.name"
            [required] = "true"
            (focusout)="user.name = user.name.trim()"
            error="{{errors | mapGet: FormValidationFields.NAME_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="t('t.lastname')"
            [(ngModel)]="user.lastname"
            [required] = "true"
            (focusout)="user.lastname.trim()"
            error="{{errors | mapGet: FormValidationFields.LASTNAME_MANDATORY}}"
          ></biit-input-text>
        </div>
        <div class="tab-row" *ngIf="!user.id">
          <biit-input-text
            [placeholder]="t('t.password')"
            [type]="Type.PASSWORD"
            [(ngModel)]="user.password"
            [required]="true"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="t('t.repeatPassword')"
            [type]="Type.PASSWORD"
            [(ngModel)]="pwdVerification"
            [required]="true"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MISMATCH}}"
          ></biit-input-text>
        </div>
        <div class="tab-row-single" *ngIf="!user.id">
          <button biit-button secondary style="display: block" (click)="generatePassword()">
            {{t('t.generate')}}
          </button>
        </div>
        <div class="tab-row" *ngIf="this.loggedUser | hasRole: AppRole.USERMANAGERSYSTEM_ADMIN">
          <biit-datepicker
            [placeholder]="t('expirationDate')"
            [(ngModel)]="user.accountExpirationTime"
            [min]="today"
            [disabled]="!expiratingAccount"
            [error]="errors | mapGet: FormValidationFields.DATE_INVALID"
          ></biit-datepicker>
          <biit-toggle
            [(ngModel)]="expiratingAccount"
            (ngModelChange)="!$event ? user.accountExpirationTime = null : null"
          >
            {{t('expiratingAccount')}}
          </biit-toggle>
        </div>
      </biit-tab>
      <biit-tab [name]="t('t.personalData')"
                [error]="!!(errors | mapGet: [FormValidationFields.PHONE_INVALID])?.length"
      >
        <div class="tab-row">
          <biit-textarea
            [(ngModel)]="user.address"
            [placeholder]="t('t.address')"
            style="display: block"
          ></biit-textarea>
        </div>
        <div class="tab-row">
          <biit-input-text
            [placeholder]="t('t.city')"
            [(ngModel)]="user.city"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="t('t.postalCode')"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            [placeholder]="t('t.country')"
            [(ngModel)]="user.country"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="t('t.phone')"
            [(ngModel)]="user.phone"
            error="{{errors | mapGet: [FormValidationFields.PHONE_INVALID]}}"
          ></biit-input-text>
        </div>
      </biit-tab>
      <biit-tab [name]="t('password')" *ngIf="user.id"
                [error]="!!(errors | mapGet: [FormValidationFields.PASSWORD_MANDATORY,
                                              FormValidationFields.PASSWORD_MISMATCH])?.length"
      >
        <div class="tab-row-single" *ngIf="!(this.loggedUser | hasRole: AppRole.USERMANAGERSYSTEM_ADMIN)">
          <biit-input-text
            [placeholder]="t('t.currentPassword')"
            [type]="Type.PASSWORD"
            [(ngModel)]="oldPassword"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            [placeholder]="t('t.newPassword')"
            [type]="Type.PASSWORD"
            [(ngModel)]="user.password"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            [placeholder]="t('t.repeatPassword')"
            [type]="Type.PASSWORD"
            [(ngModel)]="pwdVerification"
            error="{{errors | mapGet: FormValidationFields.PASSWORD_MISMATCH}}"
          ></biit-input-text>
        </div>
        <div class="tab-row-single">
          <button biit-button secondary style="display: block" (click)="generatePassword()">
            {{t('t.generate')}}
          </button>
        </div>
      </biit-tab>
    </biit-tab-group>
    <div class="form-bottom">
      <button id="save-button" biit-button primary style="display: block" (click)="onSave()">
        {{t('t.save')}}
      </button>
    </div>
  </div>
</biit-popup>
