<div class="form" *transloco="let t">
  <biit-tab-group class="user-tabs" id="user-tabs">
    <biit-tab id="account-tab" [name]="t('t.account')"
              [error]="!!(errors | mapGet: [FormValidationFields.USERNAME_MANDATORY,
                                              FormValidationFields.USERNAME_INVALID,
                                              FormValidationFields.USERNAME_EXISTS,
                                              FormValidationFields.EMAIL_MANDATORY,
                                              FormValidationFields.EMAIL_INVALID,
                                              FormValidationFields.NAME_MANDATORY,
                                              FormValidationFields.LASTNAME_MANDATORY])"
    >
      <div class="tab-row">
        <biit-input-text id="username"
                         [placeholder]="t('t.username')"
                         [(ngModel)]="user.username"
                         [minLength]=USERNAME_MIN_LENGTH
                         [maxLength]=USERNAME_MAX_LENGTH
                         [disabled]="!!user.id"
                         [required]="false"
                         (focusout)="user.username = user?.username?.trim()"
                         error="{{errors | mapGet: [FormValidationFields.USERNAME_MANDATORY, FormValidationFields.USERNAME_INVALID, FormValidationFields.USERNAME_EXISTS]}}"
        ></biit-input-text>
        <biit-input-text id="email"
                         [placeholder]="t('t.email')"
                         [(ngModel)]="user.email"
                         [minLength]=EMAIL_MIN_LENGTH
                         [maxLength]=EMAIL_MAX_LENGTH
                         [type]="Type.EMAIL"
                         [required]="true"
                         (focusout)="user.email = user?.email?.trim()"
                         error="{{errors | mapGet: [FormValidationFields.EMAIL_MANDATORY, FormValidationFields.EMAIL_INVALID]}}"
        ></biit-input-text>
      </div>
      <div class="tab-row">
        <biit-input-text id="name"
                         [placeholder]="t('t.name')"
                         [(ngModel)]="user.name"
                         [minLength]=NAME_MIN_LENGTH
                         [maxLength]=NAME_MAX_LENGTH
                         [required]="true"
                         (focusout)="user.name = user?.name?.trim()"
                         error="{{errors | mapGet: FormValidationFields.NAME_MANDATORY}}"
        ></biit-input-text>
        <biit-input-text id="lastname"
                         [placeholder]="t('t.lastname')"
                         [(ngModel)]="user.lastname"
                         [minLength]=LASTNAME_MIN_LENGTH
                         [maxLength]=LASTNAME_MAX_LENGTH
                         [required]="true"
                         (focusout)="user?.lastname?.trim()"
                         error="{{errors | mapGet: FormValidationFields.LASTNAME_MANDATORY}}"
        ></biit-input-text>
      </div>
      <div class="tab-row" *ngIf="!user.id">
        <biit-input-text id="password"
                         [placeholder]="t('t.password')"
                         [type]="Type.PASSWORD"
                         [(ngModel)]="user.password"
                         [maxLength]=PASSWORD_MAX_LENGTH
                         [required]="true"
                         error="{{errors | mapGet: FormValidationFields.PASSWORD_MANDATORY}}"
        ></biit-input-text>
        <biit-input-text id="repeat-password"
                         [placeholder]="t('t.repeatPassword')"
                         [type]="Type.PASSWORD"
                         [(ngModel)]="pwdVerification"
                         [maxLength]=PASSWORD_MAX_LENGTH
                         [required]="true"
                         error="{{errors | mapGet: FormValidationFields.PASSWORD_MISMATCH}}"
        ></biit-input-text>
      </div>
      <div class="tab-row-single" *ngIf="!user.id">
        <button biit-button secondary style="display: block" (click)="generatePassword()">
          {{ t('t.generate') }}
        </button>
      </div>
      <div class="tab-row" *ngIf="this.allowExpiration && (this.loggedUser | hasRole: AppRole.USERMANAGERSYSTEM_ADMIN: AppRole.USERMANAGERSYSTEM_EDITOR)">
        <biit-datepicker
          [placeholder]="t('expirationDate')"
          [(ngModel)]="user.accountExpirationTime"
          [min]="today"
          [disabled]="!expiratingAccount"
          [error]="errors | mapGet: FormValidationFields.DATE_INVALID"
        ></biit-datepicker>
        <biit-toggle
          [(ngModel)]="expiratingAccount"
          (ngModelChange)="!$event ? user.accountExpirationTime = null : null"
        >
          {{ t('expiratingAccount') }}
        </biit-toggle>
      </div>
    </biit-tab>
    <biit-tab id="personal-data-tab"
              [name]="t('t.personalData')"
              [error]="!!(errors | mapGet: [FormValidationFields.PHONE_INVALID])?.length"
    >
      <div class="tab-row">
        <biit-textarea
          [(ngModel)]="user.address"
          [placeholder]="t('t.address')"
          [maxLength]="ADDRESS_MAX_LENGTH"
          style="display: block"
        ></biit-textarea>
      </div>
      <div class="tab-row">
        <biit-input-text id="city"
                         [placeholder]="t('t.city')"
                         [(ngModel)]="user.city"
                         [maxLength]=CITY_MAX_LENGTH
        ></biit-input-text>
        <biit-input-text id="postalCode"
                         [placeholder]="t('t.postalCode')"
                         [maxLength]=POSTALCODE_MAX_LENGTH
        ></biit-input-text>
      </div>
      <div class="tab-row">
        <biit-input-text id="country"
                         [placeholder]="t('t.country')"
                         [(ngModel)]="user.country"
                         [maxLength]=COUNTRY_MAX_LENGTH
        ></biit-input-text>
        <biit-input-text id="phone"
                         [placeholder]="t('t.phone')"
                         [(ngModel)]="user.phone"
                         [maxLength]=PHONE_MAX_LENGTH
                         error="{{errors | mapGet: [FormValidationFields.PHONE_INVALID]}}"
        ></biit-input-text>
      </div>
    </biit-tab>
    <biit-tab [name]="t('password')" *ngIf="user.id"
              [error]="!!(errors | mapGet: [FormValidationFields.PASSWORD_MANDATORY,
                                              FormValidationFields.PASSWORD_MISMATCH])?.length"
    >
      <div class="tab-row-single" *ngIf="!(this.loggedUser | hasRole: AppRole.USERMANAGERSYSTEM_ADMIN)">
        <biit-input-text id="old-password"
                         [placeholder]="t('t.currentPassword')"
                         [type]="Type.PASSWORD"
                         [(ngModel)]="oldPassword"
                         [maxLength]=PASSWORD_MAX_LENGTH
        ></biit-input-text>
      </div>
      <div class="tab-row">
        <biit-input-text id="new-password"
                         [placeholder]="t('t.newPassword')"
                         [type]="Type.PASSWORD"
                         [(ngModel)]="user.password"
                         error="{{errors | mapGet: FormValidationFields.PASSWORD_MANDATORY}}"
                         [maxLength]=PASSWORD_MAX_LENGTH
        ></biit-input-text>
        <biit-input-text id="new-repeat-password"
                         [placeholder]="t('t.repeatPassword')"
                         [type]="Type.PASSWORD"
                         [(ngModel)]="pwdVerification"
                         [maxLength]=PASSWORD_MAX_LENGTH
                         error="{{errors | mapGet: FormValidationFields.PASSWORD_MISMATCH}}"
        ></biit-input-text>
      </div>
      <div class="tab-row-single">
        <button biit-button secondary style="display: block" (click)="generatePassword()">
          {{ t('t.generate') }}
        </button>
      </div>
    </biit-tab>
  </biit-tab-group>
  <div class="form-bottom">
    <button id="popup-user-save-button" biit-button primary style="display: block" (click)="onSave()"
            [disabled]="saving">
      {{ t('t.save') }}
    </button>
  </div>
</div>
