<!-- data-transloco helps to load translations file before asking for it. It throws missing translation key-->
<div class="table-view" slot="{{'empty' | transloco}}">
  <biit-table #table *ngIf="columns.length"
              [columns]="columns"
              [defaultPageSize]="10"
              [data]="data"
              [pageSizes]="pageSizes"
              (onUpdate)="onUpdatingRole($event)"
              [loading]="loading"
              selectable
  >
    <button biit-icon icon="plus"
            title="{{'roles.add' | transloco}}"
            (click)="onAdd()"
    ></button>
    <button biit-icon icon="minus"
            title="{{'roles.delete' | transloco}}"
            (click)="onDelete(table.getSelectedRows(), false)"
            [disabled]="!table.getSelectedRows().length"
    ></button>
    <button biit-icon icon="edit"
            title="{{'roles.edit' | transloco}}"
            (click)="onEdit(table.getSelectedRows())"
            [disabled]="table.getSelectedRows().length !== 1"
    ></button>
    <button biit-icon icon="linkage"
            title="{{'assign' | transloco}}"
            (click)="onAssign(table.getSelectedRows())"
            [disabled]="table.getSelectedRows().length !== 1"
    ></button>
  </biit-table>
</div>

<biit-popup *ngIf="confirm === 'DELETE'"
            dark-bg no-header
>
  <div class="vertical">
    <div>{{'confirm_delete' | transloco}}</div>
    <div class="flex-grow horizontal buttons-row">
      <button biit-button secondary (click)="confirm = null">{{'cancel' | transloco}}</button>
      <button biit-button primary (click)="onDelete(selected, true)">{{'delete' | transloco}}</button>
    </div>
  </div>

</biit-popup>

<biit-role-form *ngIf="popup"
                [role]="target"
                [type]="popup"
                (onClosed)="this.target = null; this.popup = null;"
                (onSaved)="onSaved($event)"
></biit-role-form>

<biit-popup *ngIf="role" [title]="role.id + ' ' +  ('applications' | transloco)" (onClosed)="role = null" sixty-view closable>
  <biit-role-applications-list
    [role]="role"
  ></biit-role-applications-list>
</biit-popup>
