$main-black: #262626;

.table-view {
  box-sizing: border-box;
  height: calc(100% - 4rem);
  overflow-y: hidden;
  padding: 2rem;
  margin: 2rem;
  border: solid 0.2rem $main-black;
  background: white;
  overflow-x: hidden;
}
