<ng-container *transloco="let t">
  <div class="table-view">
    <biit-datatable #table
                    [columns]="columns"
                    [data]="roles"
                    [pageSize]="pageSize"
                    [pageSizeList]="pageSizes"
                    [loading]="loading"
                    selectable
    >
      <button biit-icon icon="plus" *ngIf="Permission.ROLES.CREATE | hasPermission"
              [title]="t('t.add')"
              (click)="onAdd()"
      ></button>
      <button biit-icon icon="minus" *ngIf="Permission.ROLES.DELETE | hasPermission"
              [title]="t('t.delete')"
              (click)="onDelete(table.selectedRows, false)"
              [disabled]="!table.selectedRows.length"
      ></button>
      <button biit-icon icon="edit" *ngIf="Permission.ROLES.EDIT | hasPermission"
              [title]="t('t.edit')"
              (click)="onEdit(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
      <button biit-icon icon="linkage" *ngIf="Permission.ROLES.PERMISSIONS | hasPermission"
              [title]="t('t.assign')"
              (click)="onAssign(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
    </biit-datatable>
  </div>

  <biit-popup *ngIf="confirm === 'DELETE'"
              dark-bg no-header
  >
    <div class="vertical">
      <div>{{t('t.confirm_delete')}}</div>
      <div class="flex-grow horizontal buttons-row">
        <button biit-button secondary (click)="confirm = null">{{t('t.cancel')}}</button>
        <button biit-button primary (click)="onDelete(selected, true)">{{t('t.delete')}}</button>
      </div>
    </div>

  </biit-popup>

  <biit-role-form *ngIf="popup"
                  [role]="target"
                  [type]="popup"
                  (onClosed)="this.target = null; this.popup = null;"
                  (onSaved)="onSaved()"
  ></biit-role-form>

  <biit-popup *ngIf="role" [title]="role.id + ' ' +  t('t.applications')" (onClosed)="role = null" sixty-view closable>
    <biit-role-applications-list
      [role]="role"
      style="width: 100%"
    ></biit-role-applications-list>
  </biit-popup>
</ng-container>
