<div style="visibility: hidden">
  <!--This is a workaround to load transloco and avoid issues loading translations-->
  {{'users.empty' | transloco}}
</div>
<div class="table-view">
  <biit-table #table *ngIf="columns.length"
    [columns]="columns"
    [defaultPageSize]="10"
    [data]="data"
    [pageSizes]="pageSizes"
    (onAddAction)="onAdd()"
    (onEditAction)="onEdit($event)"
    (onDeleteAction)="onDelete($event, false)"
    (onUpdate)="onUpdatingTask($event)"
    [loading]="loading"
    selectable
  >
    <button biit-icon icon="plus"
            title="{{'users.add' | transloco}}"
            (click)="onAdd()"
    ></button>
    <button biit-icon icon="minus"
            title="{{'users.delete' | transloco}}"
            (click)="onDelete(table.getSelectedRows(), false)"
            [disabled]="!table.getSelectedRows().length"
    ></button>
    <button biit-icon icon="edit"
            title="{{'users.edit' | transloco}}"
            (click)="onEdit(table.getSelectedRows())"
            [disabled]="table.getSelectedRows().length !== 1"
    ></button>
  </biit-table>
</div>

<biit-user-form *ngIf="target"
                [user]="target"
                (onClosed)="this.target = null"
                (onSaved)="onSaved($event)"
>
</biit-user-form>
<biit-popup *ngIf="confirm === 'DELETE'"
            dark-bg no-header
>
  <div class="vertical">
    <div>{{'users.confirm_delete' | transloco}}</div>
    <div class="flex-grow horizontal buttons-row">
      <button biit-button secondary (click)="confirm = null">{{'users.cancel' | transloco}}</button>
      <button biit-button primary (click)="onDelete(selected, true)">{{'users.delete' | transloco}}</button>
    </div>
  </div>

</biit-popup>
