<ng-container *transloco="let t">
  <div class="table-view">
    <biit-datatable #table
                    [columns]="columns"
                    [data]="users"
                    [pageSize]="pageSize"
                    [pageSizeList]="pageSizes"
                    [loading]="loading"
                    scrollbarH
                    selectable
    >
      <button biit-icon icon="plus" *ngIf="Permission.USERS.CREATE | hasPermission"
              [title]="t('t.add')"
              (click)="onAdd()"
      ></button>
      <button biit-icon icon="minus" *ngIf="Permission.USERS.DELETE | hasPermission"
              [title]="t('t.delete')"
              (click)="onDelete(table.selectedRows, false)"
              [disabled]="!table.selectedRows.length"
      ></button>
      <button biit-icon icon="edit" *ngIf="Permission.USERS.EDIT | hasPermission"
              [title]="t('t.edit')"
              (click)="onEdit(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
      <button biit-icon icon="linkage" *ngIf="Permission.USERS.PERMISSIONS | hasPermission"
              [title]="t('t.assign_roles')"
              (click)="onAssignRole(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
      <button biit-icon icon="user_group" *ngIf="Permission.ROLE_GROUPS.ASSIGN | hasPermission"
              [title]="t('t.assign_groups')"
              (click)="onAssignGroup(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
    </biit-datatable>
  </div>

  <biit-user-form *ngIf="target"
                  [user]="target"
                  (onClosed)="this.target = null"
                  (onSaved)="onSaved()"
  />

  <biit-popup *ngIf="confirm === 'DELETE'"
              no-header
  >
    <div class="vertical">
      <div>{{t('t.confirm_delete')}}</div>
      <div class="flex-grow horizontal buttons-row">
        <button biit-button secondary (click)="confirm = null">{{t('t.cancel')}}</button>
        <button biit-button primary (click)="onDelete(selected, true)">{{t('t.delete')}}</button>
      </div>
    </div>
  </biit-popup>

  <biit-popup *ngIf="assignRole"
              [title]="t('t.assign_roles')"
              (onClosed)="assignRole = null"
              sixty-view
              closable
  >
    <biit-user-role-list [user]="assignRole" style="width: 100%"/>
  </biit-popup>

  <biit-popup *ngIf="assignGroup"
              [title]="t('t.assign_groups')"
              (onClosed)="assignGroup = null"
              sixty-view
              closable
  >
    <user-group-list [user]="assignGroup" style="width: 100%"/>
  </biit-popup>
</ng-container>

<ng-template #booleanCell let-row="row" let-value="value" let-i="index">
  <biit-icon *ngIf="value"
             [name]="'thick'"
             style="height: 18px; width: 100%;"
  />
</ng-template>
