<biit-popup
            [title]="user.id ? transloco.translate('form.editUser') : transloco.translate('form.newUser')"
            (onClosed)="onClosed.emit()"
            closable sixty-view
>
  <div class="form">
    <biit-tab-group class="user-tabs">
      <biit-tab name="{{'form.account' | transloco}}">
        <div class="tab-row-single">
          <biit-input-text
            placeholder="{{'form.username' | transloco}} ⃰"
            [(ngModel)]="user.username"
            error="{{errors | mapGet: UserFormValidationFields.USERNAME_MANDATORY}}"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            placeholder="{{'form.name' | transloco}} ⃰"
            [(ngModel)]="user.name"
            error="{{errors | mapGet: UserFormValidationFields.NAME_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            placeholder="{{'form.lastname' | transloco}} ⃰"
            [(ngModel)]="user.lastname"
            error="{{errors | mapGet: UserFormValidationFields.LASTNAME_MANDATORY}}"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            placeholder="{{'form.password' | transloco}} ⃰"
            [type]="Type.PASSWORD"
            [(ngModel)]="user.password"
            error="{{errors | mapGet: UserFormValidationFields.PASSWORD_MANDATORY}}"
          ></biit-input-text>
          <biit-input-text
            placeholder="{{'form.repeatPassword' | transloco}} ⃰"
            [type]="Type.PASSWORD"
            [(ngModel)]="pwdVerification"
            error="{{errors | mapGet: UserFormValidationFields.PASSWORD_MISMATCH}}"
          ></biit-input-text>
        </div>
      </biit-tab>
      <biit-tab name="{{'form.personalData' | transloco}}">
        <div>
          <biit-textarea
            [(ngModel)]="user.address"
            placeholder="{{'form.address' | transloco}}"
            style="display: block"
          ></biit-textarea>
        </div>
        <div class="tab-row">
          <biit-input-text
            placeholder="{{'form.city' | transloco}}"
            [(ngModel)]="user.city"
          ></biit-input-text>
          <biit-input-text
            placeholder="{{'form.postalCode' | transloco}}"
          ></biit-input-text>
        </div>
        <div class="tab-row-single">
          <biit-input-text
            placeholder="{{'form.country' | transloco}}"
            [(ngModel)]="user.country"
          ></biit-input-text>
        </div>
        <div class="tab-row">
          <biit-input-text
            placeholder="{{'form.phone' | transloco}}"
            [(ngModel)]="user.phone"
            error="{{errors | mapGet: [UserFormValidationFields.PHONE_INVALID]}}"
          ></biit-input-text>
          <biit-input-text
            placeholder="{{'form.email' | transloco}}"
            [(ngModel)]="user.email"
            error="{{errors | mapGet: [UserFormValidationFields.EMAIL_MANDATORY, UserFormValidationFields.EMAIL_INVALID]}}"
          ></biit-input-text>
        </div>
      </biit-tab>
    </biit-tab-group>
    <div class="form-bottom">
      <button biit-button primary style="display: block" (click)="onSave()">
        {{'form.save' | transloco}}
      </button>
    </div>
  </div>
</biit-popup>
