<biit-popup id="reset-password-popup" no-header *transloco="let t">
  <div class="login-container">
    <div class="login-column">
      <div class="login-icon-square">
        <div class="login-keyring"></div>
        <biit-icon [name]="$any('key_' + keyId)" class="login-key-icon"></biit-icon>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="token ? (complete ? completedView : resetForm) : invalidToken"></ng-container>
  </div>
</biit-popup>

<ng-template #resetForm>
  <div class="login-column-expanded" *transloco="let t">
    <span class="title">
      {{ t('t.update_password_title') }}
    </span>
    <span class="subtitle"
          style="margin-top: 1em;">
      {{ t('t.update_password_subtitle') }}
    </span>
    <span class="body"
          style="margin-top: 0.5em">
      {{ t('t.update_password_body') }}
    </span>
    <biit-input-text [(ngModel)]="password[0]" fieldName="newPassword" [type]="Type.PASSWORD"
                     [error]="this.pwdErrors.get(FormValidationFields.PASSWORD_MANDATORY)"
                     (keyup.enter)="performResetPassword()" style="margin-top: 2em;"
                     [maxLength]=PASSWORD_MAX_LENGTH
                     placeholder="{{t('t.password')}}" class="login-input"></biit-input-text>
    <biit-input-text [(ngModel)]="password[1]" fieldName="newPasswordRepeat" [type]="Type.PASSWORD"
                     [error]="this.pwdErrors.get(FormValidationFields.PASSWORD_MISMATCH)"
                     [maxLength]=PASSWORD_MAX_LENGTH
                     (keyup.enter)="performResetPassword()" style="margin-bottom: 2.5em"
                     placeholder="{{t('t.repeat_password')}}" class="login-input"></biit-input-text>
    <div class="buttons">
      <button biit-button (click)="performResetPassword()">
        {{ t('t.update') }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #completedView>
  <div class="login-column-expanded" *transloco="let t">
    <span class="title">
      {{ t('t.completed_title') }}
    </span>
    <span class="subtitle"
          style="margin-top: 1em;">
      {{ t('t.completed_subtitle') }}
    </span>
    <span class="body"
          style="margin-top: 0.5em">
      {{ t('t.completed_body') }}
    </span>
  </div>
</ng-template>

<ng-template #invalidToken>
  <div class="login-column-expanded" *transloco="let t">
    <span class="title">
      {{ t('t.invalid_token_title') }}
    </span>
    <span class="subtitle"
          style="margin-top: 1em;">
      {{ t('t.invalid_token_subtitle') }}
    </span>
    <span class="body"
          style="margin-top: 0.5em">
      {{ t('t.invalid_token_body') }}
    </span>
  </div>
</ng-template>
