$default-color: #262626;
$background-color: #D9D9D9;
$secondary-color: #808080;
$error-color: #A1093F;


.view-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;

  &.dark-bg {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.canvas-background {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30rem;
  background-color: white;
  z-index: 12;
  border: 3px solid $default-color;
  box-sizing: border-box;
  padding: 2.1rem;
  width: 60%;
  height: 80%;

  > .content {
    display: inline-flex;
  }
}

.form-container {
  height: 100%;
}

.form-bottom {
  min-height: 2em;
}

@media screen and (max-width: 600px) {
  .canvas-background {
    transform: unset !important;
    min-width: unset !important;
    position: unset !important;
    margin-bottom: 1rem !important;
    width: 100%;
    height: 100%;
  }
}
