<ng-container *transloco="let t">
  <div class="table-view">
    <biit-datatable #table
                    [columns]="columns"
                    [data]="userGroups"
                    [pageSize]="pageSize"
                    [pageSizeList]="pageSizes"
                    [loading]="loading"
                    selectable
    >
      <button biit-icon icon="plus" *ngIf="Permission.ROLE_GROUPS.CREATE | hasPermission"
              [title]="t('t.add')"
              (click)="onAdd()"
      ></button>
      <button biit-icon icon="minus" *ngIf="Permission.ROLE_GROUPS.DELETE | hasPermission"
              [title]="t('t.delete')"
              (click)="onDelete(table.selectedRows, false)"
              [disabled]="!table.selectedRows.length"
      ></button>
      <button biit-icon icon="edit" *ngIf="Permission.ROLE_GROUPS.EDIT | hasPermission"
              [title]="t('t.edit')"
              (click)="onEdit(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
      <button biit-icon icon="linkage" *ngIf="Permission.ROLE_GROUPS.PERMISSIONS | hasPermission"
              [title]="t('t.assign')"
              (click)="onAssignAppRoles(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
      <button biit-icon icon="user_group" *ngIf="Permission.ROLE_GROUPS.ASSIGN | hasPermission"
              [title]="t('t.users')"
              (click)="onAssignUsers(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
    </biit-datatable>
  </div>

  <biit-user-group-form *ngIf="target"
                        [userGroup]="target"
                        (onClosed)="this.target = null"
                        (onSaved)="onSaved()"
  >
  </biit-user-group-form>

  <biit-popup *ngIf="confirm === 'DELETE'"
              no-header
  >
    <div class="vertical">
      <div>{{ t('t.confirm_delete') }}</div>
      <div class="flex-grow horizontal buttons-row">
        <button biit-button secondary (click)="confirm = null">{{ t('t.cancel') }}</button>
        <button biit-button primary (click)="onDelete(selected, true)">{{ t('t.delete') }}</button>
      </div>
    </div>
  </biit-popup>

  <biit-popup *ngIf="assignAppRoles"
              [title]="t('t.assign_roles')"
              (onClosed)="assignAppRoles = null"
              sixty-view
              closable
  >
    <biit-user-group-role-list [userGroup]="assignAppRoles" style="width: 100%"/>
  </biit-popup>

  <biit-popup *ngIf="assignUsers"
              [title]="t('t.assign_users')"
              (onClosed)="assignUsers = null"
              sixty-view
              closable
  >
    <biit-user-group-user-list [userGroup]="assignUsers" style="width: 100%"/>
  </biit-popup>
</ng-container>
