<biit-table #application_roles
            *ngIf="columns.length"
            [columns]="columns"
            [defaultPageSize]="10"
            [data]="data"
            [pageSizes]="pageSizes"
            [loading]="loading"
            (onUpdate)="onTableUpdate($event)"
            selectable sortable>
  <button biit-icon icon="plus"
          title="{{'add' | transloco}}"
          (click)="onAdd()"
  ></button>
  <button biit-icon icon="minus"
          title="{{'delete' | transloco}}"
          (click)="onDelete(application_roles.getSelectedRows(), false)"
          [disabled]="!application_roles.getSelectedRows().length"
  ></button>
  <button biit-icon icon="linkage"
          title="{{'assign' | transloco}}"
          (click)="onAssign(application_roles.getSelectedRows())"
          [disabled]="application_roles.getSelectedRows().length !== 1"
  ></button>
</biit-table>

<biit-popup *ngIf="applicationRole"
            (onClosed)="applicationRole = null"
            title="{{'application_roles.assign_role' | transloco}}"
            closable
>
  <div class="vertical" style="margin-top: 0.5rem;">
    <biit-dropdown
      title="{{'roles' | transloco}}"
      [required]="true"
      [data]="availableRoles"
      [(ngModel)]="applicationRole.id.role"
      [primitive]="false" label="id"></biit-dropdown>
    <div class="flex-grow horizontal buttons-row">
      <button biit-button secondary (click)="applicationRole = null">{{'cancel' | transloco}}</button>
      <button biit-button primary (click)="assignRole()">{{'assign' | transloco}}</button>
    </div>
  </div>

</biit-popup>

<biit-popup *ngIf="confirm === 'DELETE'"
            dark-bg no-header
>
  <div class="vertical">
    <div>{{'confirm_delete' | transloco}}</div>
    <div class="flex-grow horizontal buttons-row">
      <button biit-button secondary (click)="confirm = null">{{'cancel' | transloco}}</button>
      <button biit-button primary (click)="onDelete(selectedToDelete, true)">{{'delete' | transloco}}</button>
    </div>
  </div>

</biit-popup>

<biit-popup *ngIf="applicationRoleToAssign"
            [title]="('application_roles.background_services'|transloco)"
            (onClosed)="applicationRoleToAssign = null"
            closable
            sixty-view
>
  <biit-aplication-role-services [applicationRole]="applicationRoleToAssign">

  </biit-aplication-role-services>
</biit-popup>
