<ng-container *transloco="let t">
  <biit-popup id="user-group-popup"
              [title]="userGroup.id ? t('t.editUserGroup') : t('t.newUserGroup')"
              (onClosed)="onClosed.emit()"
              closable sixty-view
  >
    <div class="form">
      <div class="tab-row-single">
        <biit-input-text
          [placeholder]="t('name')"
          [(ngModel)]="userGroup.name"
          [required]="true"
          [error]="errors | mapGet: [FormValidationFields.NAME_MANDATORY, FormValidationFields.NAME_EXISTS]"
        ></biit-input-text>
      </div>
      <div class="tab-row-single">
        <biit-textarea
          [(ngModel)]="userGroup.description"
          [placeholder]="t('description')"
          style="display: block"
        ></biit-textarea>
      </div>
      <div class="form-bottom">
        <button biit-button primary style="display: block" (click)="onSave()">
          {{ t('save') }}
        </button>
      </div>
    </div>
  </biit-popup>
</ng-container>
