<ng-container *transloco="let t">
  <biit-datatable id="user-role-table" #user_roles
                  [columns]="columns"
                  [data]="roles"
                  [pageSize]="pageSize"
                  [pageSizeList]="pageSizes"
                  [loading]="loading"
                  selectable
  >
    <button id="button-plus" biit-icon icon="plus"
            (click)="onAdd()"
            [title]="t('t.add')"
    ></button>
    <button id="button-minus" biit-icon icon="minus"
            [title]="t('t.delete')"
            (click)="onDelete(user_roles.selectedRows, false)"
            [disabled]="!user_roles.selectedRows.length"
    ></button>
  </biit-datatable>

  <biit-popup id="confirmation-delete-popup" *ngIf="confirm === 'DELETE'"
              dark-bg no-header
  >
    <div class="vertical">
      <div>{{ t('t.confirm_delete') }}</div>
      <div class="flex-grow horizontal buttons-row">
        <button id="cancel-button" biit-button secondary (click)="confirm = null">{{ t('t.cancel') }}</button>
        <button id="delete-button" biit-button primary (click)="onDelete(selectedToDelete, true)">{{ t('t.delete') }}
        </button>
      </div>
    </div>

  </biit-popup>

  <biit-popup id="user-role-popup" *ngIf="applicationRole"
              (onClosed)="applicationRole = null"
              [title]="t('t.assign_role')"
              closable
  >
    <div class="vertical" style="margin-top: 0.5rem;">
      <div class="horizontal gap">
        <biit-dropdown
          [title]="t('t.applications')"
          [required]="true"
          [data]="allApplications"
          [(ngModel)]="applicationRole.id.application"
          (ngModelChange)="loadApplicationRoles($event)"
          [primitive]="false" label="id"></biit-dropdown>
        <biit-dropdown
          [title]="t('t.roles')"
          [required]="true"
          [disabled]="!allApplicationRoles || !allApplicationRoles.length"
          [data]="allApplicationRoles"
          [(ngModel)]="applicationRole.id.role"
          [primitive]="false" label="id"></biit-dropdown>
      </div>
      <div class="flex-grow horizontal buttons-row">
        <button id="role-cancel-button" biit-button secondary (click)="applicationRole = null">{{ t('t.cancel') }}
        </button>
        <button id="role-assign-button" biit-button primary (click)="assignRole()">{{ t('t.assign') }}</button>
      </div>
    </div>
  </biit-popup>
</ng-container>
