<ng-container *transloco="let t">
  <biit-datatable id="users-table" #userTable
                  [columns]="columns"
                  [data]="users"
                  [pageSize]="pageSize"
                  [pageSizeList]="pageSizes"
                  [loading]="loading"
                  selectable scrollbarH
  >
    <ng-template #actions>
      <button id="popup-assign-button" biit-icon icon="user_add"
              [title]="t('t.assign')"
              [disabled]="!userTable.selectedRows.length"
              (click)="onAssign(userTable.selectedRows, false)"
      ></button>
      <button id="popup-unassign-button" biit-icon icon="user_remove"
              [title]="t('t.unassign')"
              [disabled]="!userTable.selectedRows.length"
              (click)="onRemove(userTable.selectedRows, false)"
      ></button>
    </ng-template>
  </biit-datatable>

  <biit-popup id="confirmation-popup" *ngIf="confirm === 'ASSIGN'"
              dark-bg no-header
  >
    <div class="vertical">
      <div>{{ t('t.confirm_assign') }}</div>
      <div class="flex-grow horizontal buttons-row">
        <button id="cancel-button" biit-button secondary (click)="confirm = null">{{ t('t.cancel') }}</button>
        <button id="assign-button" biit-button primary (click)="onAssign(selected, true)">{{ t('t.assign') }}</button>
      </div>
    </div>

  </biit-popup>

  <biit-popup id="confirmation-delete-popup" *ngIf="confirm === 'REMOVE'"
              dark-bg no-header
  >
    <div class="vertical">
      <div>{{ t('t.confirm_unassign') }}</div>
      <div class="flex-grow horizontal buttons-row">
        <button id="unassign-cancel-button" biit-button secondary (click)="confirm = null">{{ t('t.cancel') }}</button>
        <button id="unassign-button" biit-button primary (click)="onRemove(selected, true)">{{ t('t.unassign') }}
        </button>
      </div>
    </div>

  </biit-popup>
</ng-container>

<ng-template #booleanCell let-row="row" let-value="value" let-i="index">
  <biit-icon *ngIf="value"
             [name]="'thick'"
             style="height: 18px; width: 100%;"
  />
</ng-template>

<ng-template #assignedCell let-row="row" let-value="value" let-i="index">
  <biit-icon *ngIf="value" id="assigned"
             [name]="'user_single'"
             style="height: 18px; width: 100%;"
  />
</ng-template>
