<div id="navbar">
  <div class="left">
    <biit-nav-menu [routes]="routes"
    ></biit-nav-menu>
  </div>
  <div class="right" id="usermanager-menu">
    <biit-nav-user [title]="sessionService.getUser()?.name + ' ' + sessionService.getUser()?.lastname"
                   [subtitle]="'User Manager'"
                   (click)="onContextMenu($event)"
                   #navUser
    ></biit-nav-user>
  </div>
</div>
<context-menu #contextMenu dir="rtl">
  <ng-template contextMenuItem
               *transloco="let t"
               (execute)="router.navigateByUrl('/login?logout')">
    <span id="usermanager-menu-logout">
      {{ t('t.logout') }}
    </span>
  </ng-template>
</context-menu>
