$background: #EDEDED;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 20px}
body { margin: 0;
  font-family: Montserrat, "Montserrat", sans-serif;
  background-color: $background;
}

app-root > router-outlet + * {
  display: block;
  width:100%;
  height: calc(100% - 2.5rem);
  overflow-y: auto;
}

biit-snackbar {
  z-index: 1000;
  position: absolute;
}
