$background: #EDEDED;
$space: 0.7rem;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 16px}
body { margin: 0;
  font-family: Montserrat, "Montserrat", sans-serif;
  background-color: $background;
}

app-root > router-outlet + * {
  display: block;
  width:100%;
  height: calc(100% - 2.5rem);
  overflow-y: auto;
}

biit-snackbar {
  z-index: 1000;
  position: absolute;
}
.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: $space;
}
.gap {
  gap: $space;
}
