<ng-container *transloco="let t">
  <div class="table-view">
    <biit-datatable #table
                    [columns]="columns"
                    [data]="organizations"
                    [pageSize]="pageSize"
                    [pageSizeList]="pageSizes"
                    [loading]="loading"
                    selectable
    >
      <button id="button-plus" biit-icon icon="plus" *ngIf="Permission.ORGANIZATIONS.CREATE | hasPermission"
              [title]="t('t.add')"
              (click)="onAdd()"
      ></button>
      <button id="button-minus" biit-icon icon="minus" *ngIf="Permission.ORGANIZATIONS.DELETE | hasPermission"
              [title]="t('t.delete')"
              (click)="onDelete(table.selectedRows, false)"
              [disabled]="!table.selectedRows.length"
      ></button>
      <button id="button-edit" biit-icon icon="edit" *ngIf="Permission.ORGANIZATIONS.EDIT | hasPermission"
              [title]="t('t.edit')"
              (click)="onEdit(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
      <button id="button-user" biit-icon icon="user_group" *ngIf="Permission.ORGANIZATIONS.ASSIGN | hasPermission"
              [title]="t('t.assign')"
              (click)="onManage(table.selectedRows)"
              [disabled]="table.selectedRows.length !== 1"
      ></button>
    </biit-datatable>
  </div>

  <biit-organization-form *ngIf="target"
                          [organization]="target"
                          (onClosed)="this.target = null"
                          (onSaved)="onSaved()"
  >
  </biit-organization-form>
  <biit-popup *ngIf="confirm === 'DELETE'" no-header
  >
    <div class="vertical">
      <div>{{t('t.confirm_delete')}}</div>
      <div class="flex-grow horizontal buttons-row">
        <button biit-button secondary (click)="confirm = null">{{t('t.cancel')}}</button>
        <button biit-button primary (click)="onDelete(selected, true)">{{t('t.delete')}}</button>
      </div>
    </div>

  </biit-popup>

  <biit-popup *ngIf="manage"
              [title]="t('t.teams')"
              (onClosed)="manage = null"
              sixty-view
              closable
  >
    <organization-team-list [organization]="manage" style="width: 100%"></organization-team-list>
  </biit-popup>
</ng-container>
