<ng-container *transloco="let t">
  <biit-popup id="role-popup"
              *ngIf="type !== RoleFormType.ASSIGN"
              [title]="t('t.'+type)"
              (onClosed)="onClosed.emit()"
              closable sixty-view
  >
    <div class="form">
      <div class="tab-row-single">
        <biit-input-text id="role-name"
                         [placeholder]="t('t.name')"
                         [(ngModel)]="role.id"
                         [minLength]=NAME_MIN_LENGTH
                         [maxLength]=NAME_MAX_LENGTH
                         [required]="true"
                         [disabled]="type == RoleFormType.EDIT"
                         error="{{errors | mapGet: FormValidationFields.NAME_MANDATORY}}"
        ></biit-input-text>
      </div>
      <div class="tab-row-single">
        <biit-textarea id="role-description"
                       [(ngModel)]="role.description"
                       [maxLength]=DESCRIPTION_MAX_LENGTH
                       [placeholder]="t('t.description')"
                       style="display: block"
        ></biit-textarea>
      </div>
      <div class="form-bottom">
        <button id="save-role-button" biit-button primary style="display: block" (click)="onSave()"
                [disabled]="saving">
          {{ t('save') }}
        </button>
      </div>
    </div>
  </biit-popup>
</ng-container>
