<!-- data-transloco helps to load translations file before asking for it. It thrown missing translation key-->
<div class="table-view" slot="{{'empty' | transloco}}" >
    <biit-table #table *ngIf="columns.length"
                [columns]="columns"
                [defaultPageSize]="10"
                [data]="data"
                [pageSizes]="pageSizes"
                (onUpdate)="onUpdatingService($event)"
                [loading]="loading"
                selectable
    >
        <button biit-icon icon="plus"
                title="{{'services.add' | transloco}}"
                (click)="onAdd()"
        ></button>
        <button biit-icon icon="minus"
                title="{{'services.delete' | transloco}}"
                (click)="onDelete(table.getSelectedRows(), false)"
                [disabled]="!table.getSelectedRows().length"
        ></button>
        <button biit-icon icon="edit"
                title="{{'services.edit' | transloco}}"
                (click)="onEdit(table.getSelectedRows())"
                [disabled]="table.getSelectedRows().length !== 1"
        ></button>
    </biit-table>
</div>

<biit-popup *ngIf="service"
  [title]="service.id ? ('services.edit_service' | transloco) : ('services.new_service' | transloco)"
  (onClosed)="service = null"
  closable sixty-view
>
  sss
</biit-popup>
