<!-- data-transloco helps to load translations file before asking for it. It throws missing translation key-->
<div class="table-view" slot="{{'empty' | transloco}}" >
    <biit-table #table *ngIf="columns.length"
                [columns]="columns"
                [defaultPageSize]="10"
                [data]="data"
                [pageSizes]="pageSizes"
                [loading]="loading"
                (onUpdate)="onTableUpdate($event)"
                selectable sortable
    >
        <button biit-icon icon="plus"
                title="{{'add' | transloco}}"
                (click)="onAdd()"
        ></button>
        <button biit-icon icon="minus"
                title="{{'delete' | transloco}}"
                (click)="onDelete(table.getSelectedRows(), false)"
                [disabled]="!table.getSelectedRows().length"
        ></button>
        <button biit-icon icon="edit"
                title="{{'edit' | transloco}}"
                (click)="onEdit(table.getSelectedRows())"
                [disabled]="table.getSelectedRows().length !== 1"
        ></button>
      <button biit-icon icon="linkage"
              title="{{'assign' | transloco}}"
              (click)="onAssign(table.getSelectedRows())"
              [disabled]="table.getSelectedRows().length !== 1"
      ></button>
    </biit-table>
</div>

<biit-popup *ngIf="editService"
  [title]="mode === 'EDIT' ? ('services.edit_service' | transloco) : ('services.new_service' | transloco)"
  (onClosed)="editService = null"
  closable sixty-view
>
  <div class="form">
    <biit-input-text style="width: 100%"
                     placeholder="{{'name' | transloco}}"
                     [(ngModel)]="editService.name"
                     [required] = "true"
    ></biit-input-text>
    <biit-textarea
      [(ngModel)]="editService.description"
      placeholder="{{'services.description' | transloco}}"
      class="description"
    ></biit-textarea>
    <div class="form-bottom">
      <button biit-button primary style="display: block" (click)="onSave()">
        {{'services.save' | transloco}}
      </button>
    </div>
  </div>

</biit-popup>

<biit-popup *ngIf="confirm === 'DELETE'"
            dark-bg no-header
>
  <div class="vertical">
    <div>{{'confirm_delete' | transloco}}</div>
    <div class="flex-grow horizontal buttons-row">
      <button biit-button secondary (click)="confirm = null">{{'cancel' | transloco}}</button>
      <button biit-button primary (click)="onDelete(selected, true)">{{'delete' | transloco}}</button>
    </div>
  </div>

</biit-popup>

<biit-popup *ngIf="assignService"
            [title]="assignService.name + ' ' + ('roles' | transloco)"
            (onClosed)="assignService = null"
            closable sixty-view
>
  <biit-service-role-list [service]="assignService"></biit-service-role-list>
</biit-popup>
